.achievement {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.5);

  h2 {
    font-size: 1.6rem;
  }

  strong {
    color: #029209;
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
}
