.spec-doc-sheet {
  width: 90%;
  margin: 0 auto;
  &__edit-btn {
    background-color: #7c7c7c;
    color: #fff;
    font-weight: bold;
    border-radius: 1.5rem;
    margin: 1rem auto 1rem 0;
    padding: 0.5rem 1rem;
    display: block;
    width: fit-content;
    &:hover {
      opacity: .6;
    }
  }
}
