header {
  box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;
  padding: 0.5rem;

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: serif;
    text-align: center;
  }
}
