// FIXME:Tailwindを無効にできれば不要
.markdown {
    font-size: 16px;
    line-height: 1.6;
    color: #333;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }

    p {
        margin: 1em 0;
        white-space: pre-wrap;
    }

    ul,
    ol {
        margin-left: 1.5em;
    }

    a {
        color: #007bff;
        text-decoration: underline;

        &:hover {
            color: #0056b3;
        }
    }
}
