.slide-alert {
  display: block;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #666;
  position: fixed;
  color: #000;
  font-size: 1.2rem;
  font-family: serif;
  box-shadow: 0 1px 3px rgba($color: #666, $alpha: 0.5);
  top: -10%;
  opacity: 0;
  transition:
    top 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  &--show {
    top: 10%;
    opacity: 1;
  }
}
