.slide-alert {
    display: block;
    border-radius: 5px;
    padding: 5px;
    border: 3px solid #000;
    position: fixed;
    top: -10%;
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    &--show {
        top: 10%;
        opacity: 1;
    }
}
